
/*body{
   height: 100vh; 
   
    
}*/

nav{
    position: relative;   
}

.infoBoks{
    height: 100%;
    display: flex;

    
}
#home-a{
    
}
.meny{
    list-style-type: none;
    background-color: blue;  
    height: 100%;
    width: 320px;
    
}

.detaljer{
   background-color: red;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.detaljer .view{
    background-color: white;
    width: 75%;
    height: 100%;
    padding: 0vw 5vw 0vw 5vw;
        
    
}

.view{
    
}

.bildeSpinning{
   
    width: 80%;
    
    background-image: url(1628x916_Spinn.jpg);
    background-repeat: no-repeat;
  
    
    
}

.liste{
    font-size: 40px;
    text-align:left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 320px;
    
    
}

.liste li{
    width: 100%;
    background-color: white;
    margin-top: .4em;
}


.tittel{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.tittel h1{
    text-align: center;
    font-size: 3em;
}

.tittel p{
    width: 80%;
    font-size: 2em;
}
.title{
    margin: 100px 0px 0px 0px;
    position: absolute;
}

