html{
    height: 100%;
}
body{
    height: auto;
    margin: 0;
}

#navbar{
    background-image: rgba(0,0,0,0.5);
    text-align: center;
}
.navSkrift{
    margin: 0 25px 0 25px;
}
.right{
    float: right;
}
.left{
    float: left;
}
nav{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    padding: 10px 0 10px 0;
}
#home{
    margin-left: -2px;
}