html{
    height: 100%;
}
body{
    height: auto;
    margin: 0;
}
#navbar{
    background-image: rgba(0,0,0,0.5);
    position: fixed;
}
.navSkrift{
    margin: 0 25px 0 25px;
    text-decoration: none;
    color: rgb(0,0,0);   
}
.right{
    float: right;
}
.left{
    float: left;
}
nav{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    padding: 10px 0 10px 0;
}
#home{
    height: 60px;
    position: relative;
    left: 23%;
}