html{
    height: 100%;
}
body{
    height: auto;
    margin: 0;
}
#homeBody{
    background-image: url(Home%20background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navSkrift{
    margin: 0 25px 0 25px;
    text-decoration: none;
    color: rgb(0,0,0);
    position: relative;
    top: 0;
}
.right{
    right: 10px;
    position: absolute;
}
.left{
    float: left;
}
nav{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    background-image: rgba(0,0,0,0.5);
    position: fixed;
    height: 70px;
    display: flex;
}
#home{
    height: 60px;
    top: 5px;
}
#home-a{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin: 0;
}
.dropdownItem{
  display:none;
  position: absolute;
    
}
#navbar > *{
    display: inline-block;
    line-height: 70px;
}
#regDeg{
    text-decoration: none;
    color: rgb(0,0,0);
} 
#loggInnDrop{
    background-color: rgb(255,255,255);
    border-radius: 15px;
    padding: 0 20px 0 20px;
    margin-top: 15px;
    display: non;
}
.dropdown1{
    margin-right: 5%;
}
#loggInnKnapp{
    right: 5%;
    position: absolute;
}
#loggInnKnapp dropdown1 right loggInn loggInnDrop inpBox {
    position: absolute;
    right: 10%;
}
